.ui-products {
  display: grid;
  margin: 15px;
  grid-gap: 10px;
  flex: auto;
  justify-content: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  padding: 0;

  .ui-product {
    border-radius: 4px;
    background-color: #ffffff;
    border: 1px solid #f0f0f0;
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: 320px;
    width: 100%;
    height: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: column;

    &__img {
      height: 240px;
      width: 80%;
      background-image: url("https://fakestoreapi.com/img/71HblAHs5xL._AC_UY879_-2.jpg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      margin: 16px auto 0;
    }

    &__name {
      font-size: 18px;
      font-weight: 500;
      color: #212121;
      padding: 5px 16px 0;
      box-sizing: border-box;
      display: block;
      text-transform: capitalize;
    }

    &__store {
      font-size: 14px;
      font-weight: 600;
      color: #8b8b8b;
      padding: 0 16px;
      box-sizing: border-box;
      display: block;
      text-transform: capitalize;
    }

    &__price {
      font-size: 28px;
      font-weight: 600;
      color: #8b8b8b;
      padding: 0 16px;
      text-align: right;
      box-sizing: border-box;
      display: flex;
      flex-grow: 1;
      align-items: flex-end;
      justify-content: space-between;
      margin-bottom: 16px;

      button {
        font-size: 18px;
        font-weight: 400;
        color: #ffffff;
        background: #8bc34a;
        height: auto;
        padding: 10px 30px;
        border: none;
        outline: none;
        text-transform: uppercase;
        border-radius: 4px;

        &:hover {
          cursor: pointer;
          background: #91d246;
        }
      }
    }
  }
}
