.ui-shopping-wr {
  display: flex;
  flex-direction: row;

  > div {
    flex-grow: 1;
  }

  .ui-shopping-cart {
    width: 400px;
    flex-grow: 0;
    background: transparent;
    border-left: 1px solid #dedede;

    h1 {
      font-size: 20px;
      margin: 0 16px;
      text-align: center;
    }

    .ui-cart-info {
      font-size: 16px;
      text-align: center;
      color: #212121;
      margin: 0;
    }
  }
}
